.signUp-content {
    min-height: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp-form {
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00171f;
    color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 50px 17px #000;
}

.signUp-text {
    color: rgb(54, 136, 237);
    font-weight: 700;
    text-decoration: none;
}

.signUp-h2 {
    font-size: 30px;
}

.signUp-input {
    border-radius: 11px;
    font-size: 15px;
    width: 300px;
    height: 25px;
    padding: 5px 0px;
    text-align: center;
}

.signUp-input:focus {
    outline: none;
}

.signUp-button {
    height: 30px;
    width: 100px;
    border-radius: 11px;
    font-size: 15px;
}

.signUp-button:hover {
    background-color: #00171f;
    color: #FFFFFF;
}